.domestic {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .dropdown-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .dropdown-container select {
    margin-left: 10px;
  }
  
  .endpoints {
    display: block;
  }
  
  .endpoint-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; 
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .endpoint-section h2 {
    margin-top: 0;
  }
  
  .endpoint-dropdowns {
    margin-top: 20px;
  }
  
  .endpoint-dropdowns label {
    display: block;
    margin-bottom: 10px;
  }
  
  .endpoint-dropdowns select {
    margin-left: 10px;
  }

  .btn-custom {
    background-color: #282c34; 
    color: white; 
  }
  